
.card {
  height: 325px;
  width:18rem;
  text-align: left;

  > {
    .img-container {
      height: 100%;
      overflow: hidden;
      text-align: center; 
      background: $grey-100;
      
      .content {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 15px;

        > {
          ul {
            list-style-type: none;

            li {
              margin-top: 18px;
            }
          }
        }

      }

      > {
        img {
          width: 100%;
        }
      }
    }
  }

}

 

