// .container {
//     display: flex;
//     min-height: 80%;
//     flex-wrap: wrap;
//     justify-content: left;
//     padding-top: 50px;
//     padding-bottom: 50px;
//     width: 90%;
//     margin: 0 auto;
//   }
//   #container{
//       width: auto;
//   }
//   .wrapper{
//       width: 80%;
//   }
  
// @media (min-width: 1100px) {
//   .container {
//     padding-left: 100px;
//     padding-right: 100px;
//     width: 1100px;
//   }
// }
/* .card {
  background: transparent;
  border-radius: 2px;
  height:325px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}
.card > .img-container > img {
  width: 100%;
  height:50%
} */
.card{
  // background: #fff;
  // border-radius: 2px;
  height: 325px;
  // margin: 1rem;
  // position: relative;
  width:18rem;
  /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: left;
  // float: left;
}

 .card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
background:#6CADDC; 
background: #fff; 
} 
.card > .img-container > img {
  width: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}
CardBody{
    margin-left: 15px;
    border-bottom-color: black;

}
CardTitle{
    font-size: 12px;
    margin-bottom: 0%
}
Button{
    margin-top: 0%;
    background-color: blue;
    color: white;
    border-radius: 4px;
    border-color: blue;
}
a{
  color: white;
}
a:link {
  text-decoration: none;
}

