.main {
    margin: 25px;
}
.statusbars {
    width: 300px;
}
.colorPositive {
    background-image: url('/images/pixelbg-green_160.jpg');
    background-color: green;
}
.colorNeutral {
    background-image: url('/images/pixelbg-yellow_160.jpg');
    background-color: $yellow;
}
.colorNegative {
    background-image: url('/images/pixelbg-red_160.jpg');
    background-color:$red;
}
.colorBoxes {
    text-align: center;
    color:white;
}

/* ---------------------------------------------------
    HORIZONTAL WATCHLIST TICKER
----------------------------------------------------- */

/* This CSS animation creates the horizontal scrolling stock ticker */
.stockticker {
    height: 35px;	
    overflow: hidden;
    position: relative;
    background: $gray-800;
    color: lighten($yellow, 25);
    text-transform: uppercase;
    font-family: $font-family-monospace;
    letter-spacing: 2px;

    p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 35px;
        text-align: center;
        /* Starting position */
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);	
        transform:translateX(100%);
        /* Apply animation to this element */	
        -moz-animation: stockticker 25s linear infinite;
        -webkit-animation: stockticker 25s linear infinite;
        animation: stockticker 25s linear infinite;
    }
 }

 /* Move it (define the animation) */
 @-moz-keyframes stockticker {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes stockticker {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes stockticker {
  0%   { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
 }
 /* End of stockticker animation CSS */
 /* -------------------------------------- */
 
