/* ---------------------------------------------------
    GLOBAL STYLES
----------------------------------------------------- */

body {
    background: $gray-200;
    color: $gray-700;

}

h1 {
    text-transform: uppercase;
    color: $blue;
    font-weight: $font-weight-bold;
}

.nav-item {
    padding:0 15px;
}

.description {
    font-size: $font-size-lg;
}


/* ---------------------------------------------------
    TOP NAV STYLES
----------------------------------------------------- */

#topNavIcons {
    padding-top: 5px;
}

.top-nav {
    background-color:$green;

    a {
        color: $white;

        .main-logo{

            width: 375px; 
            padding-top: 5px;

            @include media-breakpoint-down(md){
                width: 260px; 
            }
            
        }

    }

    &:hover {
        color: $primary;
    }

    .iconsize {
        font-size: 1.5rem;
        padding:0
    }

    .btn-info {
        background-color: lighten($primary, 10);
        border-color: lighten($primary, 10);
        padding:.2rem .5rem;
        font-size: .8rem;
    }
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: $white;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}



#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $primary;
    color: lighten($primary, 50);
    transition: all 0.3s;

    @include media-breakpoint-down(md){
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
        margin-left: 0;
    }

    &.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    
    @include media-breakpoint-down(md){
        margin-left: 0 !important;
        }

        ul {
            li {
                a {
                    padding: 10px 10px 30px;
                    text-align: center;
                    font-size: 0.85em;
                    
                    .sideNavicons {
                        display: block;
                        font-size: 1.3em;
                        margin: auto;
                    }
                    
                }
            }
        }
        
    }

    ul {
        li {

            a {
                text-align: left;
                padding: 22px;
                font-size: 1.1em;
                display: block;

                &:hover {
                    background-color: darken($primary, 5);
                }
            }
        }

        &.components {
            padding: 0;
            width: 100%;
        }
    }

}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: $teal;
    background: lighten($primary, 10);
    width: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-wrapper {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


#portfolio-stats {
    ul {
        list-style-type: none;

        @include media-breakpoint-down(sm){
            padding: 0;
        }

        li {
            display: inline;
            font-size: $font-size-xxlg;
            font-family: $font-family-monospace;

            @include media-breakpoint-down(md){
                font-size: $font-size-lg; 
                text-align: left;
            }

            @include media-breakpoint-down(xs){
                font-size: $font-size-base; 
                text-align: left;
            }

    &.bank {
        
        @include media-breakpoint-down(sm){
            padding-left: 30px;
        } 

        @include media-breakpoint-up(md){
            padding-left: 30px;
        } 
    }
        }
    }
}

.pad {
    margin-right: 10px;

    @include media-breakpoint-down(xs){
        display: block;
        margin-right: 0;
    } 
}

/* ---------------------------------------------------
    SPLASH PAGE
----------------------------------------------------- */

.light {
    color: $white;;
    font-size: $font-size-lg;

}

.logo {


    @include media-breakpoint-up(xs){
        width: 370px;
    } 

    @include media-breakpoint-up(sm){
        width: 500px;
    } 

    @include media-breakpoint-up(md){
        width: 600px;
    } 

    @include media-breakpoint-up(md){
        width: 700px;
    } 

}

.splashGif {
    
    @include media-breakpoint-up(xs){
        width: 370px;
    } 

    @include media-breakpoint-up(sm){
        width: 500px;
    } 

    @include media-breakpoint-up(md){
        width: 600px;
    } 

    @include media-breakpoint-up(md){
        width: 700px;
    } 
}
